* {
    
}

body {
    font-family: Arial;
    margin: 40px;
}

h1, p {
    margin: 0;
}

h1 {
    font-size: 48px;
    line-height: 1;
}

p{
    font-size: 20px;
}

.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.titulo {
    grid-column: 1 / -1;
}
.foto {
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
    object-fit: cover;
    grid-column: 1;
    
}
.preco {
    background-color: #d3d3d3;
    padding: 10px;
}
.comprar {
    
    background-color: gold;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: #1c1c1c;
    font-size: 18px;
    font-weight: 500;
}

.info {
    place-self: start;
    display: grid;
    place-items: start;
    gap: 20px;
}
