*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    text-decoration: none;
}

 :root {
    --color-bg-body: white;
    --color-bg-item:#111;
    --color-bg-link:#febe01;
    --color-bg-p:#b2b2b2;
    --color-text-link:#332200;
 }
html {
    display: flex;
    justify-content: center;
}
h1 {
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    height: 200px;
    background-color:var(--color-bg-item) ;
    color: var(--color-bg-body);
    padding: 30px;
    line-height: 1.8;
    margin: 20px 0;
}
.item p{
    color: var(--color-bg-p);
}
.numeros {
    color: var(--color-bg-link);
}

a {

   background-color: var(--color-bg-link);
   color: var(--color-text-link); 
   padding: 10px;
   border-radius: 4px;
   display: inline-block;
   font-weight: 700;
}
